@include addFont(Mail Sans Roman, Light, mailsansroman-light, 300, normal);
@include addFont(Mail Sans Roman, Regular, mailsansroman-regular, 400, normal);
@include addFont(Mail Sans Roman, Bold, mailsansroman-bold, 700, normal);

html {
  font-family: 'Mail Sans Roman', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: var(--dark-gray);
}

button, input {
  font: inherit;
}
